.skills h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.skills > * span {
  background-color: #1f2937;
  padding: 7px;
  border-radius: 5px;
}
.other-skill-wrapper-outer {
  margin: 1rem 0;
}
.other-skill {
  display: flex;
  width: 100%;
  gap: 10px;
}

.other-skill h5 {
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .other-skill {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
