.app-container {
  display: flex;

  width: 100%;
}

.main-content {
  flex-grow: 1;
  margin-left: 580px;
  padding: 30px;
  background-color: black;
  min-height: 100vh;
  color: azure;
}

hr {
  border: 0;
  border-top: 1px solid #444;
  margin: 20px 0;
}

.download-button {
  position: fixed;
  right: 5%;
  bottom: 10%;
}
